body {
  &.logged_out {
    #wrapper {
      #content_wrapper {
        #active_admin_content {
          border: 1px solid #606f7a;
          border-radius: 0;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          box-sizing: border-box;

          #login {
            h2 {
              border-radius: 0;
            }
          }
        }
      }
    }
  }
}
