@import "wigu/active_admin_theme/_custom_login";
@import "wigu/active_admin_theme/_custom_header";
@import "wigu/active_admin_theme/_custom_sidebar";
@import "wigu/active_admin_theme/_custom_index";
@import "wigu/active_admin_theme/_custom_show";
@import "wigu/active_admin_theme/_custom_form";

select {
  height: 29px;
  border: 1px solid #e6e9ee;
  background-color: #fdfefe;

  &:focus {
    border-color: #95a2ac;
    outline: none;
  }
}

body {
  &.active_admin {
    #active_admin_content {
      #main_content_wrapper {
        #main_content {
          .panel {
            border: 1px solid #606f7a;
            border-radius: 0;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            box-sizing: border-box;

            h3 {
              border-bottom: 3px solid #d7dce4;
              border-radius: 0;
              margin: 0;
            }

            .panel_contents {
              padding-top: 15px;
            }
          }
        }
      }
    }
  }
}
