.trumbowyg-strong-button:after {
  font-family: FontAwesome;
  content: " \f0c6";
}

.trumbowyg-viewHTML-button:after {
  font-family: FontAwesome;
  content: " \f121";
}

.trumbowyg-undo-button:after {
  font-family: FontAwesome;
  content: " \f0e2";
}

.trumbowyg-redo-button:after {
  font-family: FontAwesome;
  content: " \f01e";
}

.trumbowyg-formatting-button:before {
  font-family: FontAwesome;
  content: " \f1dd";
}

.trumbowyg-strong-button:after {
  font-family: FontAwesome;
  content: " \f032";
}

.trumbowyg-em-button:after {
  font-family: FontAwesome;
  content: " \f033";
}

.trumbowyg-del-button:after {
  font-family: FontAwesome;
  content: " \f0cc";
}

.trumbowyg-superscript-button:after {
  font-family: FontAwesome;
  content: " \f12b";
}

.trumbowyg-subscript-button:before {
}

.trumbowyg-link-button:before {
  font-family: FontAwesome;
  content: " \f0c1";
}

.trumbowyg-insertImage-button:after {
  font-family: FontAwesome;
  content: " \f03e";
}

.trumbowyg-justifyLeft-button:after {
  font-family: FontAwesome;
  content: " \f036";
}

.trumbowyg-justifyCenter-button:after {
  font-family: FontAwesome;
  content: " \f037";
}

.trumbowyg-justifyRight-button:after {
  font-family: FontAwesome;
  content: " \f038";
}

.trumbowyg-justifyFull-button:after {
  font-family: FontAwesome;
  content: " \f038";
}

.trumbowyg-unorderedList-button:after {
  font-family: FontAwesome;
  content: " \f0ca";
}

.trumbowyg-orderedList-button:after {
  font-family: FontAwesome;
  content: " \f0cb";
}

.trumbowyg-horizontalRule-button:after {
  font-family: FontAwesome;
  content: " \f068";
}

.trumbowyg-horizontalRule-button:after {
  font-family: FontAwesome;
  content: " \f068";
}

.trumbowyg-removeformat-button:after {
  font-family: FontAwesome;
  content: "\f127";
}
