// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

$skinMainFirstColor: #3d4852 !default;
$skinMainSecondColor: #606f7b !default;

@import "active_admin/mixins";
@import "active_admin/base";

@import "wigu/active_admin_theme";
@import "wigu/active_admin_theme/extension";

@import "active_admin/emails_from_file";

.footer {
  display: none;
}
