body {
  &.admin_upload_users {
    #main_content {
      .left-side {
        float: left;
        width: 384px;

        .panel-file-loading {
          form {
            overflow: hidden;

            input[type="file"] {
              padding: 7px 0;
            }

            input[type="submit"] {
              float: right;
              margin-right: 0;
            }
          }

          .download-example {
            color: #3e4850;
            display: inline-block;
            margin-top: 10px;
          }
        }

        .panel-previous-imports {
          .panel_contents {
            .no-results {
              color: #ababab;
              font-style: italic;
              font-weight: 600;
              text-align: center;
              margin: 0;
            }

            .previous-import {
              border-style: solid;
              border-width: 1px;
              color: #0f2f52;
              display: block;
              font-size: 0.9rem;
              font-weight: 400;
              line-height: 1.2;
              margin-bottom: 8px;
              padding: 8px 16px;
              text-decoration: none;

              .file-name {
                display: inline-block;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 125px;
              }

              &:last-child {
                margin-bottom: 0;
              }

              &.uploaded {
                background: #e3fcec;
                border-color: #1a4731;

                &:hover,
                &.active {
                  background: #1f9d55;
                  color: #fff;
                }

                &:hover .date,
                &.active .date {
                  color: #fff;
                }
              }

              &.rejected {
                background: #fcebea;
                border-color: #621b18;

                &:hover,
                &.active {
                  background: #cc1f1a;
                  color: #fff;
                }

                &:hover .date,
                &.active .date {
                  color: #fff;
                }
              }

              .date {
                color: #606f7a;
                float: right;
                font-size: 0.9em;
                line-height: 19px;
              }
            }
          }
        }
      }

      .right-side {
        margin-left: 412px;

        .panel-result {
          margin-bottom: 14px;

          .panel_contents {
            .row {
              border-style: solid;
              border-width: 1px;
              color: #0f2f52;
              font-size: 0.9rem;
              font-weight: 400;
              line-height: 1.2;
              margin-bottom: 8px;
              padding: 8px 16px;

              &:last-child {
                margin-bottom: 0;
              }

              &.row-created {
                background: #e3fcec;
                border-color: #1a4731;
              }

              &.row-updated {
                background: #fcfbeb;
                border-color: #684f1d;
              }

              &.row-rejected {
                background: #fcebea;
                border-color: #621b18;
              }

              p {
                margin-bottom: 3px;
              }
            }
          }
        }

        .download-file {
          overflow: hidden;

          .download-button {
            background-color: #606f7b;
            border-radius: 4px;
            border: none;
            color: #ffffff;
            float: right;
            font-weight: bold;
            font-size: 1.0em;
            font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
            line-height: 12px;
            padding: 10px 20px;
            text-decoration: none;

            &:hover {
              background: #6b7c89;
            }
          }

          .file-name {
            color: #606f7b;
            float: right;
            font-size: 1.25em;
            line-height: 32px;
            margin-right: 14px;

            .name {
              font-style: italic;
              font-weight: 600;
            }
          }
        }
      }
    }
  }
}
